
body{
    background-color: #f5f8ff;
    margin: 0;
}
/* font */
.raleway-default {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.primary-btn{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
}

/* header */
header{
    /* height: 698px; */
    width: 100%;
    background-image: url(./Assets/Hero-bg.png);

}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    /* margin: 50px 150px; */
}

.nav-title{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    color: #4E47FF;
}

.nav-button{
    height: 48px;
    width: 132px;
}
.nav-button:hover {
  background-color: #FFD600;
  color: black;
  cursor: pointer; 
  transform: scale(1.02);
  transition: all 0.3s ease; 
}
/* banner */
.banner{
    display: flex;
    justify-content: center;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}

/* banner btn */
.focused-btn{
    height: 48px;
    width: 174px;
    padding: 12px 36px;
    margin: 37px 365.5px 152px;
}
.focused-btn:hover {
  background-color: #FFD600;
  color: black;
  cursor: pointer; 
  transform: scale(1.02);
  transition: all 0.3s ease; 
}

/* action styles */
.action{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 116px 159px 116px 141px;
}

.action-content{
    margin: 62.5px 220px 62.5px 0;
}
.action-content-title{
    font-size: 42px;
}
.action-content-para{
    font-size: 24px;
}
.launch-btn{
    height: 48px;
    font-weight: 229px;
}
.launch-btn:hover {
  background-color: #FFD600;
  color: black;
  cursor: pointer; 
  transform: scale(1.02);
  transition: all 0.3s ease; 
}
.action-image-wc{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}

/* info styles */
.info{
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
    border-radius: 24px;
    text-align: center;
    
}
.info-title{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 0;
}

.info-data{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.number{
   font-weight: 800;
   color: #4E47FF; 
   font-size: 80px; 
   margin-top: 0px;
   margin-bottom: 0px; 
}
.label{
  font-size: 16px;
  color: rgba(0, 0, 0, .5);
  margin-top: 4px;
}
/* user styles */
.icon-row{
  width: 100px; 
  height: 20px;
  background-image: url(./Assets/icon-star.png);
  background-repeat: repeat-x;
  background-size: 20px 20px;
}
/* card styles */
.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 137px;
}
.user-title{
    font-size: 42px;
}
.card-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}
.card{
    background-color: rgba(255 , 255, 255, 0.5);
    padding: 24px;
    border-radius: 14px;
    border: 1px solid #F2EDED;
}
/* card - profile */
.profile{
    display: flex;
    align-items: center;
    gap: 12px;
}
.profile-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.profile-para{
    display: flex;
    flex-direction: column;
}
.profile-name{
    margin-bottom: 2px;
}
.work{
    margin-top: 0;
}
/* focus styles */
.focus{
    max-width: 1140px;
    margin: 137px auto 0;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.focus-header{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sub-heading{
    margin-top: 0px;
    color: rgba(0, 0, 0, .5);
}
.focus-btn{
    width: 195px;
    height: 48px;
    margin-bottom: 20px;
}
.focus-btn:hover {
  background-color: #FFD600;
  color: black;
  cursor: pointer; 
  transform: scale(1.02);
  transition: all 0.3s ease; 
}
.focus-image{
    border-radius: 48px;
    margin-bottom: 71px;
}
/* form styles shared */
label{
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

input::placeholder,
textarea::placeholder{
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

/* form styles */
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
    margin: 82.23px auto;
}
.form-heading-title{
    font-size: 97px;
    font-weight: bold;
}
.form-input-section{
    display: flex;
    flex-direction: column;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.box{
    box-sizing: border-box;
}

.touch-btn{
    height: 62px;
}
.touch-btn:hover{
  background-color: #FFD600;
  color: black;
  cursor: pointer; 
  transform: scale(1.02);
  transition: all 0.3s ease; 
}
 input[type="text"],  input[type="email"],  textarea{
    font-size: 20px;
    height: 70px;
    border-radius: 10px;
    background-color: white;
    width: 497px;
    padding: 20px 20px;
    margin-bottom: 19px;
    border: 1px solid #F2EDED;
    box-sizing: border-box; 
}
textarea{
    height: 135px;
}
/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #F2EDED;
    height: 428px;
    width: 100%;
}
.footer-header{
    font-family: "Inter", sans-serif;
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-top: 0;
    margin-bottom: 0px;
}
.footer-sub-heading{
    color: #8987A1;
    margin-top: 8px;
}
.footer-item{
    display: flex;
    gap: 48px;
}
.footer-item a{
    text-decoration: none;
    color: #8987A1;
}
.footer-item a:hover{
    color: #4E47FF;
    font-weight: 500;
}
